@{
  Layout = "_Layout";
}

<h1 class="site-hero">HairSalon App</h1>
<div class="flex flex__row--start" id="hero-btn-container">
  <div class="btn btn--hero flex flex__row--center">
    <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
  </div>
  <div class="btn btn--hero flex flex__row--center">
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
  </div>
</div>